body::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}
.popup-show body::after {
  opacity: 1;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}
.popup_show {
  z-index: 152;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}
.popup_show .popup__content {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}
.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__content {
  visibility: hidden;
  transform: translateY(toRem(15));
  transition: all 0.2s ease 0s;
  opacity: 0;
  background-color: #fbfbfb;
  padding-top: toRem(50);
  padding-bottom: toRem(50);
  @include adaptiveValue('padding-left', 50, 15);
  @include adaptiveValue('padding-right', 50, 15);
  width: 100%;
  max-width: toRem(600);
  border-radius: toRem(13);
  .lock & {
    visibility: visible;
  }
}

.popup__close {
  position: absolute;
  right: toRem(20);
  top: toRem(20);
  background: #b1afb5;
  border-radius: toRem(80);
  width: toRem(22);
  height: toRem(22);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__title {
  @include adaptiveValue('font-size', 34, 24);
  text-align: center;
  margin-bottom: toRem(35);
}

.popup__input-group {
  display: flex;
  flex-direction: column;
}
