:root {
  --swiper-image-ratio: 56.25%; /* ratio 16:9 = 56.25% */
  --swiper-width: 55%;
  --swiper-inactive-scale: 0.85; /* makes the other slide smaller */
  /* responsive settings */
  --swiper-mobile-width: 90%;
  --swiper-mobile-inactive-scale: 0.95;
}

.swiper {
  overflow: hidden;
}
.swiper-initialized {
  touch-action: pan-y;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3d3745;
}

.swiper-vertical {
  .swiper-wrapper {
    flex-direction: column;
  }
}
.swiper-autoheight {
  .swiper-wrapper {
    align-items: flex-start;
  }
}
.swiper-initialized {
  .swiper-slide {
    flex-shrink: 0;
    // transition-property: transform;
  }
}
.swiper-android {
  .swiper-slide,
  .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
  }
}
.swiper-button-lock {
  display: none !important;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.swiper {
  position: relative;
  width: 100%;
  height: calc(var(--swiper-width) * var(--swiper-image-ratio) / 100%);
  overflow: hidden;
}

.swiper-slide {
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.brand-swiper .swiper-slide {
  width: var(--swiper-width);
  opacity: 0.5;
  transform: scale(0.84);
}

.brand-swiper .swiper-backface-hidden .swiper-slide {
  transform: scale(0.84) translateZ(0);
}

.brand-swiper .swiper-slide.swiper-slide-active {
  transform: scale(1) !important;
  opacity: 1 !important;
}

.swiper-backface-hidden .swiper-slide.swiper-slide-active {
  transform: scale(1) translateZ(0) !important;
}

.swiper-image {
  position: relative;
  width: 100%;
  img {
    max-width: 100%;
  }
  .image {
    @media (max-width: 768px) {
      margin: 0 30px;
    }
  }
}

.swiper-button-next {
  transform: translate(50%, -50%);
  right: calc((96% - var(--swiper-width)) / 2);
}

.swiper-button-prev {
  transform: translate(-50%, -50%);
  left: calc((96% - var(--swiper-width)) / 2);
}

@media only screen and (max-width: 768px) {
  .swiper {
    height: calc(var(--swiper-mobile-width) * var(--swiper-image-ratio) / 100%);
  }

  .swiper-slide {
    width: var(--swiper-mobile-width);
    transform: scale(var(--swiper-mobile-inactive-scale));
  }

  .swiper-backface-hidden .swiper-slide.swiper-slide {
    transform: scale(var(--swiper-mobile-inactive-scale)) translateZ(0);
  }

  .swiper-button-next {
    right: calc((97% - var(--swiper-mobile-width)) / 2);
  }

  .swiper-button-prev {
    left: calc((97% - var(--swiper-mobile-width)) / 2);
  }
}
