// Заголовки, загальні БЕМ блоки та інше...
.section-title {
  @include adaptiveValue('font-size', 64, 28);
  @include adaptiveValue('margin-bottom', 45, 25);
  text-transform: uppercase;
}
.just-validate-error-label {
  margin-top: toRem(-15) !important;
  margin-bottom: toRem(15);
}

.policy {
  padding-top: toRem(50);
  padding-bottom: toRem(100);
  &__title {
    @include adaptiveValue('font-size', 30, 24);
    line-height: math.div(30, 36);
    margin-bottom: toRem(40);
    text-transform: uppercase;
    font-weight: 600;
  }

  article {
    p {
      font-size: toRem(18);
      padding: toRem(5) 0;
    }
    h2,
    h3 {
      margin: toRem(10) 0;
      font-weight: 500;
    }
    h2 {
      font-size: toRem(22);
    }
    h3 {
      font-size: toRem(20);
    }
    ul,
    ol {
      padding-left: toRem(25);
      margin-bottom: toRem(15);
      margin-top: toRem(10);
      font-size: toRem(18);
    }
    ul li {
      list-style: disc;
      &:not(:last-child) {
        margin-bottom: toRem(10);
      }
    }
    a {
      color: #5c6bd7;
      &:not(:last-child) {
        margin-bottom: toRem(5);
      }
    }
  }
}

.wpcf7-spinner {
  display: none;
}

.wpcf7-response-output {
  display: none;
}
