//====================================================================================================
.footer {
	padding-bottom: toRem(35);
  &__image {
    margin: 0 auto;
    padding-bottom: toRem(35);
    img {
      width: 100%;
			min-height: toRem(245);
      object-fit: cover;
			object-position: left;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: em(576)) {
      flex-direction: column;
    }
  }
  &__nav-list {
    display: flex;
    align-items: center;
    gap: toRem(30);
    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: flex-start;
    }
    @media (max-width: $mobile) {
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: toRem(30);
    }
  }
  &__nav-link {
    transition: color 0.2s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #5c6bd7;
      }
    }
  }
  &__others-list {
    display: flex;
    align-items: center;
    gap: toRem(30);
    color: #b7b7b7;
    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: flex-start;
    }
    @media (max-width: $mobile) {
      flex-direction: row;
    }
  }
  &__others-link {
    transition: color 0.2s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #000;
      }
    }
  }
  &__copyright {
    text-align: center;
    color: #b7b7b7;
    font-size: toRem(18);
    @media (max-width: em(576)) {
      display: none;
    }
  }
  &__copyright--mobile {
    @media (min-width:em(576)){
        display: none;
    }
    @media (max-width: em(576)){
        display: block;
        margin-top: toRem(30);
    }
  }
  &__logo {
    text-align: center;
    flex: 1 1 auto;
    justify-content: center;
    @media (max-width: em(576)) {
      order: -1;
    }
  }
  &__logo-image {
    margin-bottom: toRem(35);
  }
}
//====================================================================================================
